@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    letter-spacing:  0.015em;
  }
}

#comparablesChart {
  /*background:  red;*/
  height:  100%;
  width:  100%;
}

#comparablesChart .y.axis .tick, #comparablesChart .x.axis .tick {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #000000;
  opacity: 0.7;
}

#comparablesChart circle.auction {
  fill: rgb(125 211 252);
}

#comparablesChart circle.advertised {
  fill: rgb(251 191 36);
}

#comparablesChart circle.sold {
  fill: rgb(248 113 113);
}

/*.h-124 {
  height: 31rem;
}*/

/*#chartUpdateLink {
  opacity:  0.7;
  text-decoration:  underline;
}*/

#chartUpdateLink:hover {
  opacity:  0.8;
}



/*Fullscreen Styles*/
#chartFiltersWrapper {
  /*transition: width 1s ease-in-out;*/
}

/*FullScreen Setup Two*/
#chartFiltersWrapper.full-screen {
  background: white;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /*margin-top: 0;*/
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
}

/*@media (min-width: 640px) {  
  #chartFiltersWrapper.full-screen {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
  }
}*/

#chartFiltersWrapper.full-screen #filtersPanel {
  display: none;
}

#chartFiltersWrapper.full-screen #chartControlsWrapper {
  margin-left: 0;
  margin-right: 0;
}

#chartFiltersWrapper.full-screen #chartControls {
  z-index: 10000;
}

#chartFiltersWrapper.full-screen #fullScreenButton {
  grid-column:  7;
  grid-row: 1;
}

@media (max-aspect-ratio: 1/1) or (max-height: 897px){

  #chartFiltersWrapper.full-screen {
    /*background: red;*/
    padding-top: 0;
    padding-right: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0;
    margin-left: -1px;
    border-right: 1px solid white;
    width: calc(100% + 1px);
  }

  #chartFiltersWrapper.full-screen #chartControls {
    /*background: yellow;*/
    margin-top: 0.25rem;
    margin-bottom:  0.25rem;
    padding-left: 0.25rem;
    row-gap: 0.3rem;
    column-gap: 0.5rem;
  }

  #chartFiltersWrapper.full-screen  #chartControlLabel {
    padding-left: 0.65rem;
  }

  #chartFiltersWrapper.full-screen #fullScreenButton {
    right: 0.25rem;
  }
}

@media (min-width: 897px) {  
  #chartFiltersWrapper.full-screen {
    /*background: lightblue;*/
    padding-right: 0.5rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
  }

  #chartFiltersWrapper.full-screen #chartControls {
    /*background: lightblue;*/
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
  }

  #chartFiltersWrapper.full-screen  #chartControlLabel {
    padding-left: 0.4rem;
  }


  #chartFiltersWrapper.full-screen #fullScreenButton {

  }
}

#chartFiltersWrapper.full-screen #heightWrapper {
  height:  100%;
  margin-bottom: 0;
}



