@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    letter-spacing:  0.015em;
  }
}

#comparablesChart {
  /*background:  red;*/
  height:  100%;
  width:  100%;
}

#comparablesChart .y.axis .tick, #comparablesChart .x.axis .tick {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #000000;
  opacity: 0.7;
}

/*.h-124 {
  height: 31rem;
}*/

/*#chartUpdateLink {
  opacity:  0.7;
  text-decoration:  underline;
}*/

#chartUpdateLink:hover {
  opacity:  0.8;
}


/*Fullscreen Setup One:*/
#chartControlsWrapper.full-screen {
  /*background: light-blue;*/
/*  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin-top: 0;
  padding-top: 12px;*/
  /*margin: 0 1rem 0 1rem;*/
}

#chartControlsWrapper.full-screen #heightWrapper {
  height:  100%;
  margin-bottom: 0.625rem;
}


/*#chartControlsWrapper.full-screen #heightWrapper > #fullScreenToggle {
  top: 0;
  right: 0;
  background: red;
}


@media (min-width: 640px) {  
  #chartControlsWrapper.full-screen #heightWrapper > #fullScreenToggle {
    top: -4.1rem;
    right: 0.8rem;
  }
}

@media (min-width: 768px) {
  #chartControlsWrapper.full-screen #heightWrapper > #fullScreenToggle {
    top: -3.1rem;
    right: 0.8rem;
  }
}
*/


#chartFiltersWrapper {
  transition: width 1s ease-in-out;
}

/*FullScreen Setup Two*/
#chartFiltersWrapper.full-screen {
  background: white;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#chartFiltersWrapper.full-screen #filtersPanel {
  display: none;
}

#chartFiltersWrapper.full-screen #chartControlsWrapper {
  padding-top: 12px;
  margin-left: 0;
  margin-right: 0;
}

#chartFiltersWrapper.full-screen #heightWrapper {
  height:  100%;
  margin-bottom: 0.625rem;
}

#chartFiltersWrapper.full-screen #fullScreenToggle {
  top: -3.1rem;
  right: 0;
}

@media (min-width: 640px) {  
  #chartFiltersWrapper.full-screen #fullScreenToggle {
    margin-right: 0.5rem;
  }

  #chartFiltersWrapper.full-screen {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

}